.App {
  margin: 0;
  padding: 0;
  width: 100%;
}


.camera_icon {
  align-self: flex-end;
  font-size: 2rem;
  margin: 2rem;
  color: #ffffff;
  cursor: pointer;
  background-color: rgb(106, 69, 0);
  padding: 2rem;
  border-radius: 3rem;
}

.camera_icon:hover {
  background-color: rgb(201, 165, 112);
}