@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap'); 
body {
  margin: 0;
  background-color: #fdeab2 !important;
  color: rgb(38, 22, 0);
}
@font-face {
  font-family: 'headers_font';
  src: url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
}

@font-face {
  font-family: 'text_font';
  src: url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
}

:root {
  --cards-background: rgb(106, 69, 0);
}